{#
This file is part of the Sonata package.
(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block content %}    
    <style>
        #table1 {
            border-width: 2px;
        }

        #table1 th {
            border-width: 2px;
        }

        #table1 td {
            border-width: 2px;
        }
    </style>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Bajas</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-hover sonata-ba-list" id="table1" >
                <thead>
                    <tr>
                        <th class="col-md-6 text-center">Objeto</th>
                        <th class="col-md-2 text-center">Baja</th>
                        <th class="col-md-4 text-center">Motivo</th>
                    </tr>
                </thead>
                <tbody>
                    {#{ dump(objects) }#}
                    {% for obj in objects %}
                        <tr>                    
                        {#{ dump(obj.ea ) }#}
                            <td class="text-left text-bold">{{obj.rubro}}-{{obj.sub_rubro}}-{{obj.codigo}}-{{ obj.nombre }}</td>
                            <td class="text-right text-bold">{{ obj.baja }}</td>
                            <td class="text-right text-bold">{{ obj.motivo }}</td>  
                        {#{obj.ea}#}
                        </tr>                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}